<section id="page-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-container">
          <div class="header-title">
            <h1>DEAL OR NO DEAL
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Project
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div> -->
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
